.category-container {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  .category-body-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    background-color: white;
    opacity: 0.7;

    h2 {
      font-weight: bold;
      margin: 0 6px 0;
      font-size: 22px;
      color: #4a4a4a;
    }

    p {
      font-weight: lighter;
      font-size: 16px;
    }
  }

  .background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  &:nth-child(-n + 3) {
    grid-column: span 2;
  }
  &:nth-child(n + 4) {
    grid-column: span 3;
  }
  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .category-body-container {
      opacity: 0.9;
    }
  }
}
